KERNEL_ARCH_FLAGS=
KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_COBJS:=$(shell find arch -name *.c)

PREFIX_ENTRIES:=\
$(TARGET_DIR)/crti.o \
$(TARGET_DIR)/crtbegin.o \

SUFFIX_ENTRIES:=\
$(TARGET_DIR)/crtend.o \
$(TARGET_DIR)/crtn.o \

KERNEL_ARCH_OBJS=$(KERNEL_ARCH_COBJS:.c=.o)
